{% extends "base.html" %}
{% block title %} AniWeb - Anime Search {% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='script.js') }}?v={{ config['VERSION'] }}" defer></script>
{% endblock %}
{% block content %}
<div id="bg">
<div class="search-container">
  <h1>Anime Search</h1>
  <form id="searchForm" method="POST" action="/search">
    <input type="text" id="searchInput" name="title" autocomplete="off" placeholder="Search anime...">
    <ul id="suggestions"></ul>
    <button type="submit">Search</button>
  </form>
</div>
</div>
{% endblock %}
