<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %} AniWeb - Schedule {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}

  <div class="inner">
    <div class="filters">
        <button id="sub-btn-res" class="mode-btn {% if mode == 'sub' %}active{% endif %}" data-mode="sub">Sub</button>
        <button id="dub-btn-res" class="mode-btn {% if mode == 'dub' %}active{% endif %}" data-mode="dub">Dub</button>
    </div>
    <h1>Recent Episodes</h1>
    <div class="recent-episodes">
      {% for anime in latest %}
        <a class="anime-card" href="{{ url_for('play', anime_id=anime.id, episode=anime.episodes, total=anime.episodes) }}">
            <img src="{{ anime.images.webp.image_url }}" alt="{{ anime.title }} cover">
            <p>{{ anime.title }}</p>
            <p>{{ anime.episodes }} episodes</p>
        </a>
        {% else %}
        <p>No recent anime found.</p>
        {% endfor %}

    </div>
    <h1>Seasonal Anime</h1>
    <div class="anime-grid">
        {% for anime in seasonal %}
        <a class="anime-card" href="{{ url_for('play', anime_id=anime.id, episode=1, total=anime.episodes) }}">
            <img src="{{ anime.images.webp.image_url }}" alt="{{ anime.title }} cover">
            <p>{{ anime.title }}</p>
            <p>{{ anime.episodes }} episodes</p>
        </a>
        {% else %}
        <p>No seasonal anime found.</p>
        {% endfor %}
    </div>
  </div>

{% endblock %}
